<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogging App</title>
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
    <div class="topnav">
        <a id="homeNav" class="active" href="#home"><i class="fas fa-blog"></i> Get Blogged</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a href="/users/newblog">New Post</a>
        <a id="signinLink" href="/users/login">Sign in</a>
    </div>