<%- include("partials/header") %>

<h1 class="tagline">A DIRECTORY OF WONDERFUL<br>CONTENT</h1>

<% let x = Math.floor((Math.random() * 10)); %> 

<h3 id="quotes"><%= blogQuotes[x][0] %><br>- By <%= blogQuotes[x][1] %></h3>

<div class="regisbtnDiv">
    <a class="registerBtn" href="/users/register">Get started</a><br>
    Already have an account? <a href="/users/login">Sign in.</a>
</div>

<%- include("partials/footer") %>