<%- include("partials/header") %>

<div class="topnav">
    <a id="homeNav" class="active" href="/"><i class="fas fa-blog"></i> Get Blogged</a>
    <a href="#about">About</a>
    <a href="/users/newblog">New Post</a>
    <a id="signinLink" href="/users/login">Sign in</a>
</div>

<h1 class="tagline">A DIRECTORY OF WONDERFUL<br>CONTENT</h1>

<% let x = Math.floor((Math.random() * 10)); %> 

<h3 id="quotes"><%= blogQuotes[x][0] %><br>- By <%= blogQuotes[x][1] %></h3>

<div class="regisbtnDiv">
    <a class="registerBtn" href="/users/register">Get started</a><br>
    Already have an account? <a href="/users/login">Sign in.</a>
</div>
<br><hr><br>
<div class="home-container">
    <table>
        <tr>
            <td><img src="/images/free.webp" alt=""></td>
            <td><h4>It's free and always will be</h4></td>
        </tr>
        <tr>
            <td><h4>Growing positive community. Read, write blogs anytime from anywhere.</h4></td>
            <td align="right"><img id="rounded-img" src="https://freemasonsnz.org/wp-content/uploads/2019/05/Strategic-Direction-Icons_Community3.png" alt=""></td>
        </tr>
        <tr>
            <td><img src="/images/collage.jpg" alt=""></td>
            <td><h4>Lot's of categories to choose from. Technology, travel, food, science, relationships, video games, politics and many more.</h4></td>
        </tr>
    </table>
    <br><hr><br>
    <div class="regisbtnDiv">
        <a class="registerBtn" href="/users/register">Get started</a>
    </div>
</div>

<%- include("partials/footer") %>