<%- include("partials/header") %>

<h1 class="tagline">A DIRECTORY OF WONDERFUL<br>CONTENT</h1>

<div class="regisbtnDiv">
    <a class="registerBtn" href="/users/register">Get started</a><br>
    Already have an account? <a href="/users/login">Sign in.</a>
</div>

<%- include("partials/footer") %>