<%- include("partials/header") %>

<div class="topnav">
    <a id="homeNav" class="active" href="/"><i class="fas fa-blog"></i> Get Blogged</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a href="/users/newblog">New Post</a>
    <a id="signinLink" href="/users/register">Sign up</a>
</div>

<div class="formDiv">
    <form class="lrform" action="/users/login" method="post">
        <div class="container1">
            <h1>Login</h1>
            <label for="inputEmail"><b>Username</b></label>
            <input id="inputEmail" type="email" placeholder="Enter Username" name="email" required>
        
            <label for="inputPassword"><b>Password</b></label>
            <input id="inputPassword" type="password" placeholder="Enter Password" name="password" required>
        
            <button class="lrform-btn" type="submit">Login</button>
        </div>
        <div class="container1">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="lowerText">Doesn't have an account? <a href="/users/register">Sign up.</a></span>
        </div>
    </form>
</div>

<%- include("partials/footer") %>