<%- include("partials/header") %>

<!-- Top Navbar -->
<div class="topnav">
    <a id="homeNav" class="active" href="/dashboard"><i class="fas fa-blog"></i> Get Blogged</a>
    <a href="/users/newblog">New Post</a>
    <a id="signinLink" href="/logout">Log out</a>
</div>
<div id="logoutpageDiv">
    <a class="readMore-btn" href="/logout">Logout and redirect to home</a>
    <a class="delete-btn" href="/dashboard">Go to dashboard</a>
</div>

<%- include("partials/footer") %>