<%- include("partials/header") %>

<div class="formDiv">
    <form action="/users/newblog" method="POST">
        <div class="container1">
            <h1>New Blog</h1>
            <label for="inputTitle">Title*</label>
            <input id="inputTitle" type="text" name="title">
            <label for="inputImg">Image URL</label>
            <input id="inputImg" type="text" name="img">
            <label for="inputText">Text*</label>
            <textarea id="inputText" name="text"></textarea>
            <label for="inputCat">Category*</label>
            <select id="inputCat" name="category">
                <option value="Technology">Technology</option>
                <option value="Health">Health</option>
                <option value="Business">Business</option>
                <option value="Food">Food</option>
                <option value="Culture">Culture</option>
                <option value="Travel">Travel</option>
                <option value="Video Games">Video Games</option>
                <option value="Science">Science</option>
                <option value="Relationships">Relationships</option>
                <option value="Politics">Politics</option>
            </select>
        <button type="submit">Post</button>
        </div>
    </form>
</div>

<%- include("partials/footer") %>