<%- include("partials/header") %>

<div class="formDiv">
    <form action="/users/newblog" method="POST">
        <div class="container1">
            <h1>New Blog</h1>
            <label for="inputTitle">Title*</label>
            <input id="inputTitle" type="text" name="title">
            <label for="inputImg">Image URL</label>
            <input id="inputImg" type="text" name="img">
            <label for="inputText">Text*</label>
            <textarea id="inputText" name="text"></textarea>
            <label for="inputCat">Category*</label>
            <select id="inputCat" name="category">
                <option value="tech">Technology</option>
                <option value="health">Health</option>
                <option value="business">Business</option>
                <option value="food">Food</option>
                <option value="culture">Culture</option>
                <option value="travel">Travel</option>
                <option value="vgames">Video Games</option>
                <option value="science">Science</option>
                <option value="relationships">Relationships</option>
                <option value="politics">Politics</option>
            </select>
        <button type="submit">Post</button>
        </div>
    </form>
</div>

<%- include("partials/footer") %>