<%- include("partials/header") %>

<h1>Sign up</h1>

<form action="/users/register" method="POST">
    <label for="inputName">Name</label>
        <input id="inputName" type="text" name="name"><br>
    <label for="inputEmail">Email</label>
        <input id="inputEmail" type="email" name="email"><br>
    <label for="inputPhone">Phone</label>
        <input id="inputPhone" type="text" name="phone"><br>
    <label for="inputPassword">Password</label>
        <input id="inputPassword" type="password" name="password"><br>
    <label for="inputPassword">Repeat Password</label>
        <input id="inputPassword" type="password" name="password2"><br>
    <button type="submit">Sign up</button>
</form>

<%- include("partials/footer") %>