<%- include("partials/header") %>

<div class="topnav">
    <a id="homeNav" class="active" href="/"><i class="fas fa-blog"></i> Get Blogged</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a href="/users/newblog">New Post</a>
    <a id="signinLink" href="/users/login">Sign in</a>
</div>

<div class="formDiv">
    <form class="lrform" action="/users/register" method="POST">
        <div class="container1">
            <h1>Sign up</h1>
            <label for="inputName"><strong>Name</strong></label>
                <input id="inputName" type="text" name="name" placeholder="Enter Name">
            <label for="inputEmail"><strong>Email</strong></label>
                <input id="inputEmail" type="email" name="email" placeholder="Enter Email">
            <label for="inputPhone"><strong>Phone</strong></label>
                <input id="inputPhone" type="text" name="phone" placeholder="Enter Phone">
            <label for="inputPassword"><strong>Password</strong></label>
                <input id="inputPassword" type="password" name="password" placeholder="Enter Password">
            <label for="inputPassword"><strong>Repeat Password</strong></label>
                <input id="inputPassword" type="password" name="password2" placeholder="Confirm Password">
            <button class="lrform-btn" type="submit">Sign up</button>             
        </div>
        <div class="container1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="lowerText">Already have an account? <a href="/users/login">Sign in.</a></span>
        </div>
    </form>    
</div>

<%- include("partials/footer") %>