body {
    font-family: "Lato", sans-serif;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 18px;
    line-height: 20px;
    margin: 6px 6px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

body {
    margin: 0 0 0 0;
}

#homeNav {
    font-size: 1.3em;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 0%;
}

@media (min-width: 520px) {
  #homeNav {
    padding-left: 25px;
    padding-right: 25px;
    /* margin-left: 5%; */
  }
}

@media (min-width: 651px) {
  #homeNav {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 10%;
  }
}

@media (min-width: 743px) {
  #homeNav {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 15%;
  }
}

#signinLink {
  padding-right: 25px;
  font-size: 1.3em;
  margin-right: 0%;
  float: right;
}

@media (min-width: 651px) {
  #signinLink {
    margin-right: 10%;
  }
}

@media (min-width: 743px) {
  #signinLink {
    margin-right: 15%;
  }
}

.tagline {
    font-family: 'Playfair Display', serif; 
    text-align: center;
    font-size: 35px;
}

@media (min-width: 574px) {
  .tagline {
    font-size: 70px
  }
}

.registerBtn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 40px 15px 40px;
    display: inline-block;
    border-radius: 3px;
    margin-bottom: 12px;
}

.regisbtnDiv {
    text-align: center;
}

a {
    text-decoration: none;
    color: #4CAF50 ;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 850px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 930px;
    }
}

hr {
    background: #f2f2f2;
    width: 100%;
    height: 1px;
    opacity: 0.3;
}

@media (min-width: 792px) {
  hr {
    width: 750px;
  }
}

.blogshow {
    margin-top: 70px;
    padding: 30px 50px 30px 50px;
}

.margin-top-0 {
    margin-top: 0;
}
.margin-bottom-0 {
    margin-bottom: 0;
}

.blogImages {
    width: 100%;
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.25);
}

@media (min-width: 792px) {
  .blogImages {
    width: 750px;
  }
}

body {
    background-color: #f2f2f2;
  }
  
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blogDetails {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 792px) {
  .blogDetails {
    width: 750px;
  }
}

.blogDiv {
  padding-bottom: 20px;
  padding-top: 6px;
}

.readMore-btn {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  padding: 8px 13px;
  border: none;
}

.blogText {
  margin-bottom: 25px;
}

.showblogContainer {
    margin-top: 40px;
    padding-top: 0;
}

.showImage {
    width: 100%;
}

#delete {
  display: inline;
}

.delete-btn {
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 8px 13px;
  border: none;
  margin-left: 5px;
}

.edDiv {
  display: block;
}

#inputCat {
  margin-bottom: 15px;
}

#quotes {
  text-align: center;
  margin-bottom: 46.9px;
}

#flex-container {
  display: flex;
  flex-direction: row;
}

#flex-container > .flex-item {
  flex: auto;
  margin-top: 0;
  margin-right: 4px;
}

#flex-container > .raw-item {
  width: 12rem;
  height: 41px;
  margin-left: 4px;
}

.commentDiv {
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 30px;
}

#flex-container {
  margin-bottom: 15px;
}

#comment-text {
  display: inline-block;
}

#comment-date {
  float: right;
}

#comment-btn {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

#noBlogH1 {
  text-align: center;
}

#category-span {
  float: right;
}

#author-span {
  display: inline;
}

.alert-error {
  padding: 20px;
  background-color: #f44336;
  color: white;
  text-align: center;
}

.alert-success {
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.flash {
  text-align: center;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.welcome {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.logout {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.home-container {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

td img {
  width: 80%;
  margin: 30px 0 0 0;
  box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.25);
}

div.home-container table tr {
  height: 250px;
}

#rounded-img {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222); 
}