/* Bordered form */
form.lrform {
    border: 3px solid #f1f1f1;
}
  
/* Full-width inputs */
input[type=email], input[type=password], input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button.lrform-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button.lrform-btn:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Add padding to containers */
.container1 {
    padding: 20px;
    background-color: white;
}

.formDiv {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 100px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn {
        width: 100%;
    }
}
.lowerText {
    float: right;
    padding-top: 16px;
}